@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.topbar {
  padding: 30px;
  background-color: #1a535c;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  text-align: center;
}

.logo {
  height: 80px;
}

.blogs {
  padding: 70px 150px;
}

.blogs h1 {
  font-size: 50px;
  color: #1a535c;
}

.blogs h1::after {
  content: "";
  display: block;
  width: 8vw;
  height: 3px;
  background-color: #1a535c;
  position: relative;
  top: 10px;
  left: 15px;
}

.blog-content {
  margin-top: 70px;
}

.blog {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog span {
  font-size: 40px;
  font-weight: 800;
  color: #4ecdc4;
  width: 55px;
}

.blog h3 {
  margin-left: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #1a535c;
}

.blog h3::after {
  content: "";
  display: block;
  width: 20vw;
  height: 3px;
  background-color: #1a535c;
  position: relative;
  top: 15px;
}

.footer {
  background-color: #1a535c;
  padding-top: 50px;
  padding-bottom: 40px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  text-align: center;
  position: relative;
}

.logo-footer {
  height: 70px;
  position: absolute;
  left: 90px;
  top: 45px;
}

.social-media a {
  margin: 12px;
}

.social-media a i {
  font-size: 30px;
  color: #fafafa;
}

.social-media a i:hover {
  animation: zoom 200ms ease forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.footer h5 {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #fafafa;
}

.footer span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #fafafa;
  position: relative;
  top: 3px;
  margin: 0px 7px;
}
