@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.topbar {
  padding: 30px;
  background-color: #1a535c;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  text-align: center;
}

.logo {
  height: 80px;
}

.technology {
  padding: 70px 100px;
}

h1 {
  font-size: 50px;
  color: #1a1a1a;
  text-align: center;
}

h1::after {
  content: "";
  display: block;
  width: 22vw;
  height: 3px;
  background-color: #1a1a1a;
  position: relative;
  left: 32vw;
  top: 10px;
}

.project-cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  margin: 35px;
  /* background-color: #1a535c15; */
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #b7b7b7;
}

.project-card h3 {
  padding: 22px;
  font-size: 24px;
  color: #1a1a1a;
  text-align: center;
}

.project-card img {
  height: 230px;
}

.links {
  padding: 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}

.links a:hover {
  color: #818181;
}

.footer {
  background-color: #1a535c;
  padding-top: 50px;
  padding-bottom: 40px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  text-align: center;
  position: relative;
}

.logo-footer {
  height: 70px;
  position: absolute;
  left: 90px;
  top: 45px;
}

.social-media a {
  margin: 12px;
}

.social-media a i {
  font-size: 30px;
  color: #fafafa;
}

.social-media a i:hover {
  animation: zoom 200ms ease forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.footer h5 {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #fafafa;
}

.footer span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #fafafa;
  position: relative;
  top: 3px;
  margin: 0px 7px;
}
