@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.header {
  background-color: #1a535c;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.navbar {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
  margin-left: 70px;
}

.nav-items {
  margin-right: 70px;
  list-style-type: none;
}

.nav-items::after {
  content: "";
  display: block;
  width: 48vw;
  height: 2px;
  background-color: #fafafa;
  position: relative;
  top: 20px;
  left: 47px;
}

.nav-items li {
  display: inline-block;
  margin-left: 50px;
}

.nav-items li a {
  font-size: 19px;
  font-weight: 500;
  color: #fafafa;
}

.nav-items li a:hover {
  color: #fafafad3;
}

.profile {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  height: 450px;
  clip-path: circle(37% at 48% 43%);
}

.content {
  width: 40%;
  margin-left: 40px;
  position: relative;
  bottom: 40px;
}

.content h1 {
  font-size: 60px;
  color: #fafafa;
}

.content p {
  margin-top: 15px;
  font-size: 19px;
  font-weight: 500;
  color: #fafafa;
}

.social-media {
  margin-top: 25px;
}

.social-media a {
  margin-right: 24px;
}

.social-media a i {
  font-size: 25px;
  color: #fafafa;
}

.social-media a i:hover {
  animation: zoom 200ms ease forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.about {
  padding: 70px 150px;
}

.about h2 {
  font-size: 50px;
  text-align: center;
  color: #1a1a1a;
}

.about p {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 1.6;
}

.skills {
  padding: 70px 150px;
  background-color: #1a535c;
  border-radius: 60px;
}

.skills h2 {
  font-size: 50px;
  text-align: center;
  color: #fafafa;
}

.skill-cards {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-card {
  margin: 25px 40px;
}

.skill-card div {
  padding: 30px 32px;
  background-color: #fafafa;
  border-radius: 50%;
}

.skill-card img {
  height: 55px;
}

.skill-card h3 {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 600;
  color: #fafafa;
  text-align: center;
}

.projects {
  padding: 70px 150px;
}

.projects h2 {
  font-size: 50px;
  text-align: center;
  color: #1a1a1a;
}

.project-cards {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  margin: 35px;
  /* background-color: #1a535c15; */
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #b7b7b7;
}

.project-card h3 {
  padding: 22px;
  font-size: 24px;
  color: #1a1a1a;
  text-align: center;
}

.project-card img {
  height: 230px;
}

.links {
  padding: 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links a {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
}

.links a:hover {
  color: #818181;
}

.see-more-btn {
  display: block;
  margin: 50px auto 0px auto;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 600;
  color: #fafafa;
  background-color: #1a535c;
  border: none;
  border-radius: 5px;
  transition: background-color 200ms ease;
}

.see-more-btn:hover {
  cursor: pointer;
  background-color: #1a535cc6;
}

.blogs {
  padding: 70px 0px;
  background-color: #1a535c;
  border-radius: 60px;
}

.blogs h2 {
  font-size: 50px;
  color: #fafafa;
  text-align: center;
}

.blog-material {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.blog-card {
  margin-bottom: 40px;
  border: 3px solid #fafafa;
  border-radius: 10px;
  background-color: transparent;
}

.blog-card:hover {
  animation: zoom-card 200ms ease forwards;
}

@keyframes zoom-card {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}

.blog-card img {
  height: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-card h4 {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
  text-align: center;
}

.blog-content {
  width: 40%;
}

.blog {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog span {
  font-size: 34px;
  font-weight: 800;
  color: #4ecdc4;
  width: 40px;
}

.blog h3 {
  margin-left: 25px;
  font-size: 22px;
  font-weight: 500;
  color: #fafafa;
}

.blog h3::after {
  content: "";
  display: block;
  width: 20vw;
  height: 2px;
  background-color: #fafafa;
  position: relative;
  top: 14px;
}

.read-more-btn {
  display: block;
  margin: 40px auto 0px auto;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 600;
  color: #1a535c;
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  transition: background-color 200ms ease;
}

.read-more-btn:hover {
  cursor: pointer;
  background-color: #fafafad3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

.logo-footer {
  height: 70px;
  position: absolute;
  left: 90px;
  top: 50px;
}

.socials a {
  margin: 12px;
}

.socials a i {
  font-size: 30px;
  color: #1a1a1a;
}

.socials a i:hover {
  animation: zoom 200ms ease forwards;
}

.footer h5 {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #1a1a1a;
}

.footer span::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #1a1a1a;
  position: relative;
  top: 3px;
  margin: 0px 7px;
}
